@import "../../global.scss";

.about {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .about-left {
        background-color: $mainColor;
        flex: 0.3;
        height: 100%;

        @include mobile {
            flex: 0;
        }
    }

    .about-right {
        background-image: url("../../../public/assets/hiking.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0.7;
        height: 100%;

        @include mobile {
            flex: 1;
        }
    }

    .about-content {
        align-items: center;
        color: #d0d1d0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;

        .about-text {
            align-items: center;
            background-color: ghostwhite;
            border: 6px solid #864942;
            color: $mainColor;
            display: flex;
            flex-direction: column;
            height: 350px;
            justify-content: center;
            opacity: 0.85;
            padding: 30px;
            width: 800px;

            @include mobile {
                height: 55%;
                padding: 20px;
                width: 75%;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;

                @include mobile {
                    font-size: 45px;
                }
            }

            p {
                font-family: 'Tenor Sans', sans-serif;
                font-size: 18px;
                text-align: center;
            }

            @include mobile {

                p {
                    font-size: 14px;
                }
            }
        }
    }
}