@import "../../global.scss";

.portfolioList {
    border-radius: 10px;
    color: $mainColor;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;

    @include mobile {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 9px;
    }

    &.active {
        background-color: $mainColor;
        color: #d0d1d0;

        h3 {
            color: #d0d1d0;
            text-decoration: none;
        }
    }
}